{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">

            Your Form Has Been Successfully Submitted!

        </div>
    </div>

{% endblock body %}